#MainHeader {
  background-color: #13327a;
  color: white
}

/* for images */
#Resize {
  width: 100%;
}

body {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

#DarkModeBtn {
  background-color: white;
  color: black;
}

#links {
  text-decoration: none;
  color: white;
}

#ProfileDiv {
  background-color: #13327a;
  color: white;
  border-radius: 10%;
}

#InputField {
  color: black;
}
